<div class="flex flex-col lg:flex-row py-3 px-3 h-full w-full">
  <!--  TODO make these fields visible when proper filtering is introduced on the server side-->
  <div
    class="flex flex-row space-x-3 justify-start items-stretch basis-2/3 h-full w-full pt-2">
    <mat-form-field style="display: none" color="accent" appearance="outline">
      <mat-icon matPrefix color="accent">search</mat-icon>
      <mat-label>Nazwa ogłoszenia</mat-label>
      <input
        matInput
        [ngModel]="title"
        (ngModelChange)="titleChange.emit($event)" />
    </mat-form-field>
    <mat-form-field style="display: none" appearance="outline" color="accent">
      <mat-label>Data rozpoczęcia wydarzenia</mat-label>
      <input
        matInput
        [ngModel]="startDate"
        (ngModelChange)="startDateChange.emit($event)"
        [matDatepicker]="startDatePicker"
        (click)="startDatePicker.open()" />
      <mat-datepicker-toggle
        matPrefix
        [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker color="accent"></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="display: none" appearance="outline" color="accent">
      <mat-label>Data zakończenia wydarzenia</mat-label>
      <input
        matInput
        [ngModel]="endDate"
        (ngModelChange)="endDateChange.emit($event)"
        [matDatepicker]="endDatePicker"
        (click)="endDatePicker.open()" />
      <mat-datepicker-toggle
        matPrefix
        [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker color="accent"></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Status aplikacji</mat-label>
      <mat-select
        [ngModel]="applicationState"
        (ngModelChange)="applicationStateChange.emit($event)">
        <mat-option value="-1">Wszystkie</mat-option>
        <mat-option
          *ngFor="let state of applicationStates"
          [value]="state.serverQueryStateName"
          >{{ state.stateName }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div
    class="flex flex-row justify-center lg:justify-end items-center basis-1/3">
    <button
      class="hover:bg-btnAccentHover"
      mat-raised-button
      color="accent"
      (click)="onSearchButtonClicked()">
      <mat-icon matPrefix>search</mat-icon>
      Szukaj
    </button>
  </div>
</div>
