<div class="flex w-full px-4 justify-center items-center">
  <mat-table [dataSource]="availableVolunteers" class="table table-auto w-full">
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
      <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="hasTakenPart">
      <th mat-header-cell *matHeaderCellDef>Czy wzią(ęła) udział</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [(ngModel)]="element.hasTakenPart"></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: visibleColumns"></tr>
  </mat-table>
</div>
