<div class="w-full">
  <div class="w-full h-full">
    <form [formGroup]="basicInfoFormGroup">
      <div class="flex flex-col lg:flex-row items-stretch">
        <mat-form-field
          appearance="standard"
          #institutionNameInput
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <mat-label>Nazwa Instytucji</mat-label>
          <input
            matInput
            formControlName="institutionName"
            placeholder="Podaj nazwę instytucji" />
          <mat-icon matPrefix color="primary">business</mat-icon>
          <mat-hint
            *ngIf="basicInfoFormGroup.controls['institutionName'].invalid"
            >Pole jest wymagane</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <mat-form-field
          appearance="standard"
          #krsNumberInput
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <mat-label>Numer KRS</mat-label>
          <input
            matInput
            formControlName="krsNumber"
            placeholder="Podaj nazwę instytucji" />
          <mat-icon matPrefix color="primary">pin</mat-icon>
          <mat-hint *ngIf="basicInfoFormGroup.controls['krsNumber'].invalid"
            >Pole jest wymagane</mat-hint
          >
        </mat-form-field>
        <mat-form-field
          appearance="standard"
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          #addressInputName>
          <mat-label>Adres siedziby</mat-label>
          <input
            matInput
            formControlName="address"
            placeholder="Podaj adres siedziby" />
          <mat-icon matPrefix color="primary">place</mat-icon>
          <mat-hint *ngIf="basicInfoFormGroup.controls['address'].invalid"
            >Pole jest wymagane</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <mat-form-field
          appearance="standard"
          #registerPersonNameInput
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <mat-label>Imię osoby kontaktowej</mat-label>
          <input
            matInput
            formControlName="registerPersonName"
            placeholder="Podaj imię osoby kontaktowej" />
          <mat-icon matPrefix color="primary">account_circle</mat-icon>
          <mat-hint
            *ngIf="basicInfoFormGroup.controls['registerPersonName'].invalid"
            >Pole jest wymagane</mat-hint
          >
        </mat-form-field>
        <mat-form-field
          appearance="standard"
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          #registerPersonLastNameInput>
          <mat-label>Naziwsko osoby kontaktowej</mat-label>
          <input
            matInput
            formControlName="registerPersonLastName"
            placeholder="Podaj nazwisko osoby kontaktowej" />
          <mat-icon matPrefix color="primary">account_circle</mat-icon>
          <mat-hint
            *ngIf="
              basicInfoFormGroup.controls['registerPersonLastName'].invalid
            "
            >Pole jest wymagane</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <mat-form-field
          appearance="standard"
          #registerPersonEmailInput
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <mat-label>Email osoby kontaktowej</mat-label>
          <input
            matInput
            formControlName="registerPersonEmail"
            placeholder="Podaj email osoby kontaktowej" />
          <mat-icon matPrefix color="primary">alternate_email</mat-icon>
          <mat-hint
            *ngIf="basicInfoFormGroup.controls['registerPersonEmail'].invalid"
            >Pole jest wymagane</mat-hint
          >
        </mat-form-field>
        <mat-form-field
          appearance="standard"
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          #registerPersonPhoneNumberInput>
          <mat-label>Numer telefonu osoby kontaktowej</mat-label>
          <input
            matInput
            formControlName="registerPersonPhoneNumber"
            placeholder="Podaj numer telefonu osoby kontaktowej" />
          <mat-icon matPrefix color="primary">smartphone</mat-icon>
          <mat-hint
            *ngIf="
              basicInfoFormGroup.controls['registerPersonPhoneNumber'].invalid
            "
            >Pole jest wymagane</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="flex flex-col items-center pt-10">
        <button
          mat-raised-button
          matStepperNext
          type="button"
          class="w-1/2 h-full"
          color="primary"
          [disabled]="false">
          Dalej
        </button>
      </div>
    </form>
  </div>
</div>
