<mat-table
  matSort
  [dataSource]="dataSource"
  matSortActive="starred"
  matSortDirection="desc"
  multiTemplateDataRows
  class="!table-fixed !border-spacing-2 w-full">
  <ng-container matColumnDef="firstName">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Imię</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="onRowClick(element.id)">
      {{ element.firstName }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <mat-header-cell mat-sort-header *matHeaderCellDef
      >Nazwisko</mat-header-cell
    >
    <mat-cell *matCellDef="let element" (click)="onRowClick(element.id)">
      {{ element.lastName }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="participationMotivation">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      Motywacja do uczestnictwa
    </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="onRowClick(element.id)">
      {{ element.participationMotivation }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="state">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="onRowClick(element.id)">
      {{ element.state }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="starred">
    <mat-cell
      (click)="onIsStarredClick(element.id, element.starred)"
      *matCellDef="let element">
      <div class="block content-center text-center h-full">
        <i
          *ngIf="!element.starred"
          class="fa-regular fa-star hover:bg-btnAccentHover hover:rounded-xl"></i>
        <i
          *ngIf="element.starred"
          class="fa-solid fa-star text-yellow-300 hover:bg-btnAccentHover hover:rounded-xl"></i>
      </div>
    </mat-cell>
    <mat-header-cell mat-sort-header *matHeaderCellDef
      >Ulubione</mat-header-cell
    >
  </ng-container>

  <ng-container matColumnDef="expand">
    <mat-header-cell mat-sort-header *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"></mat-cell>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <mat-cell
      class="w-full"
      [@detailExpand]="isElementExpanded(element.id) ? 'expanded' : 'collapsed'"
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length">
      <app-application-details-row
        (applicationDetailsChange)="onApplicationStatusChange($event)"
        class="w-full"
        [applicationDetails]="element"></app-application-details-row>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="columnsToDisplayWithExpand"></mat-header-row>
  <mat-row
    class="hover:bg-rowAccentHover hover:cursor-pointer example-element-row"
    *matRowDef="let row; columns: visibleColumns"></mat-row>
  <mat-row
    *matRowDef="let element; columns: ['expandedDetail']"
    class="example-detail-row"
    [ngClass]="{ hidden: !isElementExpanded(element.id) }"
    [class.example-expanded-row]="isElementExpanded(element.id)"></mat-row>
</mat-table>
