<div class="w-full bg-bgPrimary bg-opacity-10 p-3 rounded-md">
  <h1 class="font-bold text-sm">Twoje hasło musi zawierać</h1>
  <ul class="text-xs list-inside pl-4 font-semibold">
    <li
      [ngClass]="{
        'text-red-600': !checkPassword().hasLowerCase,
        'text-green-600': checkPassword().hasLowerCase
      }">
      <i
        class="fa-solid"
        [ngClass]="{
          'fa-circle-xmark': !checkPassword().hasLowerCase,
          'fa-circle-check': checkPassword().hasLowerCase
        }"></i>
      1 małą literę
    </li>
    <li
      [ngClass]="{
        'text-red-600': !checkPassword().hasUpperCase,
        'text-green-600': checkPassword().hasUpperCase
      }">
      <i
        class="fa-solid"
        [ngClass]="{
          'fa-circle-xmark': !checkPassword().hasUpperCase,
          'fa-circle-check': checkPassword().hasUpperCase
        }"></i>
      1 duza literę
    </li>
    <li
      [ngClass]="{
        'text-red-600': !checkPassword().hasNumber,
        'text-green-600': checkPassword().hasNumber
      }">
      <i
        class="fa-solid"
        [ngClass]="{
          'fa-circle-xmark': !checkPassword().hasNumber,
          'fa-circle-check': checkPassword().hasNumber
        }"></i>
      1 cyfrę
    </li>
    <li
      [ngClass]="{
        'text-red-600': !checkPassword().hasSpecialChar,
        'text-green-600': checkPassword().hasSpecialChar
      }">
      <i
        class="fa-solid"
        [ngClass]="{
          'fa-circle-xmark': !checkPassword().hasSpecialChar,
          'fa-circle-check': checkPassword().hasSpecialChar
        }"></i>
      1 znak specjalny
    </li>
    <li
      [ngClass]="{
        'text-red-600': !checkPassword().isTheSame,
        'text-green-600': checkPassword().isTheSame
      }">
      <i
        class="fa-solid"
        [ngClass]="{
          'fa-circle-xmark': !checkPassword().isTheSame,
          'fa-circle-check': checkPassword().isTheSame
        }"></i>
      Hasła są takie same
    </li>
  </ul>
</div>
