<div class="flex flex-row h-full">
  <div class="flex flex-col items-center justify-center lg:basis-1/2 w-full">
    <div class="w-[90%] mx-auto">
      <app-logo class="lg:hidden"></app-logo>
    </div>
    <app-login-form
      class="w-full h-full"
      (formSubmit)="onLoginFormSubmit($event)"
      (registerButtonClicked)="onRegisterButtonClicked()"
      (registerInstitutionButtonClicked)="onRegisterInstitutionClicked()"
      (passwordResetButtonClicked)="onPasswordResetButtonClicked()"
      [loginHasFailed]="loginHasFailed"
      [accountInactive]="isAccountInactive"
      [isLogging]="isPerformingLogin"></app-login-form>
  </div>
  <div class="hidden lg:block basis-1/2">
    <app-side-banner></app-side-banner>
  </div>
</div>
