<div class="flex flex-row h-full">
  <div class="flex flex-col items-center lg:basis-1/2 w-full">
    <div class="w-[90%] mx-auto">
      <app-logo class="lg:hidden"></app-logo>
    </div>
    <app-register-form
      *ngIf="!hasRegisteredCorrectly"
      class="h-full w-3/4"
      (formSubmit)="onRegisterFormSubmit($event)"
      [availableCategories]="interestCategories"
      [availableExperiences]="experienceLevels"
      [isRegistering]="isPerformingRegistration"></app-register-form>
    <app-register-success-info
      (loginPageTransitionClicked)="router.navigate(['login'])"
      class="h-full w-3/4"
      *ngIf="hasRegisteredCorrectly"></app-register-success-info>
  </div>
  <div class="hidden lg:block basis-1/2">
    <app-side-banner></app-side-banner>
  </div>
</div>
