<div class="flex flex-row min-h-screen">
  <div
    class="flex flex-col items-center justify-center lg:basis-1/2 w-full py-6">
    <div
      class="flex flex-col justify-center items-center w-full h-full"
      *ngIf="isPerformingRegistration">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <app-register-form
      *ngIf="!hasRegisteredCorrectly && !isPerformingRegistration"
      class="min-h-screen w-3/4"
      (formSubmit)="onRegisterFormSubmit($event)"
      (showRodoRegulations)="onShowRodoRegulations()"
      (showUseRegulations)="onShowUseRegulations()"
      [availableCategories]="interestCategories"
      [availableExperiences]="experienceLevels"
      [isRegistering]="isPerformingRegistration"></app-register-form>
    <app-info-card
      [infoType]="InfoCardTypeEnum.Success"
      *ngIf="hasRegisteredCorrectly"
      class="h-full w-3/4"
      (cardButtonClicked)="router.navigate(['login'])"
      [titleMessage]="successMessageTitle"
      [cardContent]="successMessageContent"
      [buttonText]="successButtonText"></app-info-card>
  </div>
  <div class="hidden min-h-screen lg:block basis-1/2">
    <app-side-banner></app-side-banner>
  </div>
</div>
