<header class="bg-bgPrimary">
  <ng-container *ngTemplateOutlet="desktopNavigation"></ng-container>
  <ng-container *ngTemplateOutlet="mobileNavigation"></ng-container>
</header>

<ng-template #desktopNavigation>
  <div class="md:hidden pl-3">
    <app-logo></app-logo>
  </div>
  <div class="hidden md:block">
    <header aria-label="Site Header" class="bg-bgPrimary relative w-full z-50">
      <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-20 items-center justify-between">
          <div class="md:flex md:items-center md:gap-12">
            <a
              class="text-teal-600 w-[250px] md:w-[380px] flex justify-center"
              routerLink="/home">
              <app-logo></app-logo>
            </a>
          </div>
          <div class="hidden md:block">
            <nav aria-label="Site Nav">
              <ul
                *ngIf="loggedUser?.hasUserRoles([UserRoleEnum.Volunteer])"
                class="flex items-center gap-6 text-sm navbar-list">
                <li>
                  <a
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                    routerLink="/home">
                    Pulpit
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/advertisement/list"
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition">
                    Lista ogłoszeń
                  </a>
                </li>
                <li *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Volunteer)">
                  <a
                    routerLink="/applications"
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition">
                    Twoje aplikacje
                  </a>
                </li>
              </ul>
              <ul
                *ngIf="
                  loggedUser?.hasUserRoles([
                    UserRoleEnum.InstitutionWorker,
                    UserRoleEnum.InstitutionAdmin
                  ])
                "
                class="flex items-center gap-6 text-sm navbar-list">
                <li>
                  <a
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                    routerLink="/home">
                    Pulpit
                  </a>
                </li>

                <li>
                  <a
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                    routerLink="/institution/advertisement-panel">
                    Ogłoszenia instytucji
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/advertisement/list"
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition">
                    Lista ogłoszeń
                  </a>
                </li>
              </ul>
              <ul
                class="flex items-center gap-6 text-sm navbar-list"
                *ngIf="
                  loggedUser?.hasUserRoles([
                    UserRoleEnum.Moderator,
                    UserRoleEnum.Admin
                  ])
                ">
                <li>
                  <a
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                    routerLink="/home">
                    Pulpit
                  </a>
                </li>
                <li *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Admin)">
                  <a
                    [matMenuTriggerFor]="adminMenu"
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition">
                    Administracja
                  </a>
                </li>
                <li
                  *ngIf="
                    loggedUser?.hasUserRoles([
                      UserRoleEnum.Moderator,
                      UserRoleEnum.Admin
                    ])
                  ">
                  <a
                    [matMenuTriggerFor]="moderatorMenu"
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition">
                    Moderacja
                  </a>
                </li>
                <li>
                  <a
                    routerLink="/advertisement/list"
                    class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition">
                    Lista ogłoszeń
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="flex items-center gap-4">
            <div
              class="sm:flex sm:gap-4"
              *ngIf="
                loggedUser?.hasUserRoles([
                  UserRoleEnum.InstitutionWorker,
                  UserRoleEnum.InstitutionAdmin,
                  UserRoleEnum.Admin,
                  UserRoleEnum.Moderator
                ])
              "
              (click)="routeToAddAdvertisement()">
              <button mat-raised-button color="accent">
                <i class="fa-solid fa-plus pr-2"></i>Dodaj ogłoszenie
              </button>
            </div>
            <div
              [matMenuTriggerFor]="menu"
              class="relative w-12 h-12 rounded-full flex items-center justify-center bg-bgWhite hover:bg-btnAccentHover transition">
              <img ngSrc="assets/coffee_avatar.svg" height="60" width="100" />
            </div>
            <mat-menu #menu="matMenu">
              <ul mat-menu-item (click)="onShowProfileCLick()">
                <i class="fa-solid fa-address-card"></i>
                Zobacz profil
              </ul>
              <ul mat-menu-item (click)="onReportIssue()">
                <i class="fa-solid fa-bug"></i>
                Zgłoś błąd
              </ul>
              <ul mat-menu-item (click)="onLogout()">
                <i class="fa-solid fa-right-from-bracket"></i>
                Wyloguj się
              </ul>
            </mat-menu>
            <mat-menu #adminMenu="matMenu">
              <ul
                (click)="routeToAdminUsers()"
                mat-menu-item
                *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Admin)">
                <i class="fa-solid fa-users"></i>
                Zarządzaj użytkownikami
              </ul>
            </mat-menu>
            <mat-menu #moderatorMenu="matMenu">
              <ul mat-menu-item (click)="routeToManageDictValues()">
                <i class="fa-solid fa-right-from-bracket"></i>
                Zarządzaj wartościami słownikowymi
              </ul>
            </mat-menu>
          </div>
        </div>
      </div>
    </header>
  </div>
</ng-template>
<ng-template #mobileNavigation>
  <div class="fixed bottom-0 bg-bgPrimary left-0 w-full flex md:hidden z-50">
    <div
      class="flex flex-row overflow-x-scroll w-full items-center space-x-6 gap-y-10 py-1 text-white font-semibold text-[10px]">
      <a
        class="flex flex-col justify-center items-center w-1/4 p-1 pl-5 whitespace-nowrap"
        routerLink="/home">
        <i class="fa-solid fa-house text-lg"></i>
        Pulpit
      </a>
      <a
        class="flex flex-col justify-center items-center w-1/4 p-1 whitespace-nowrap"
        *ngIf="
          loggedUser?.hasUserRoles([
            UserRoleEnum.InstitutionWorker,
            UserRoleEnum.InstitutionAdmin
          ])
        "
        routerLink="/institution/advertisement-panel">
        <i class="fa-solid fa-briefcase text-lg"></i>
        Ogłoszenia instytucji
      </a>
      <a
        class="flex flex-col justify-center items-center w-1/4 p-1 whitespace-nowrap"
        routerLink="
        advertisement/list
        ">
        <i class="fa-solid fa-magnifying-glass text-lg"></i>
        Lista ogłoszeń
      </a>
      <a
        class="flex flex-col justify-center items-center w-1/4 p-1 whitespace-nowrap"
        routerLink="/applications"
        *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Volunteer)">
        <i class="fa-solid fa-address-card text-lg"></i>
        Twoje aplikacje
      </a>
      <a
        class="flex flex-col justify-center items-center w-1/4 p-1 whitespace-nowrap"
        *ngIf="
          loggedUser?.hasUserRoles([
            UserRoleEnum.InstitutionWorker,
            UserRoleEnum.InstitutionAdmin
          ])
        "
        (click)="routeToAddAdvertisement()">
        <i class="fa-solid fa-plus text-lg"></i>
        Dodaj ogłoszenie
      </a>
      <a
        *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Admin)"
        class="flex flex-col justify-center items-center w-1/4 p-1 whitespace-nowrap"
        [matMenuTriggerFor]="adminMenu">
        <i class="fa-solid fa-gear text-lg"></i>
        Administracja
      </a>
      <a
        *ngIf="
          loggedUser?.hasUserRoles([UserRoleEnum.Admin, UserRoleEnum.Moderator])
        "
        class="flex flex-col justify-center items-center w-1/4 p-1 whitespace-nowrap"
        [matMenuTriggerFor]="moderatorMenu">
        <i class="fa-solid fa-gear text-lg"></i>
        Moderacja
      </a>
      <a
        class="flex flex-col justify-center items-center w-1/4 p-1 pr-5 whitespace-nowrap"
        [matMenuTriggerFor]="menuMobile">
        <i class="fa-solid fa-plus text-lg fa-angle-up"></i>
        Więcej
      </a>
      <mat-menu #menuMobile="matMenu">
        <ul class="navbar-list" mat-menu-item>
          <i class="fa-solid fa-address-card"></i>
          Zobacz profil
        </ul>
        <ul mat-menu-item (click)="onLogout()" class="!navbar-list">
          <i class="fa-solid fa-right-from-bracket"></i>
          Wyloguj się
        </ul>
      </mat-menu>
    </div>
  </div>
</ng-template>
<mat-menu #menu="matMenu">
  <ul mat-menu-item (click)="onShowProfileCLick()" class="navbar-list">
    <i class="fa-solid fa-address-card"></i>
    Zobacz profil
  </ul>
  <ul mat-menu-item (click)="onReportIssue()">
    <i class="fa-solid fa-bug"></i>
    Wyloguj się
  </ul>
  <ul mat-menu-item (click)="onLogout()" class="navbar-list">
    <i class="fa-solid fa-right-from-bracket"></i>
    Wyloguj się
  </ul>
</mat-menu>
<mat-menu #adminMenu="matMenu">
  <ul
    class="navbar-list"
    (click)="routeToAdminUsers()"
    mat-menu-item
    *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Admin)">
    <i class="fa-solid fa-users"></i>
    Zarządzaj użytkownikami
  </ul>
</mat-menu>
<mat-menu #moderatorMenu="matMenu">
  <ul mat-menu-item (click)="routeToManageDictValues()" class="navbar-list">
    <i class="fa-solid fa-right-from-bracket"></i>
    Zarządzaj wartościami słownikowymi
  </ul>
</mat-menu>
