<div class="flex flex-col space-y-6 my-6">
  <mat-card
    [ngClass]="{ 'blur-md': isLoadingData, 'animate-pulse': isLoadingData }">
    <mat-card-title-group
      class="mat-card-header-avatar-right flex flex-row-reverse !justify-end pb-4">
      <div
        class="relative peer group rounded-2xl w-[150px] border-[1px] border-gray-300 overflow-y-hidden"
        [ngClass]="{ 'h-[200px]': isNil(userPhoto) }">
        <img
          *ngIf="isNil(userPhoto)"
          class="absolute object-fill peer rounded-2xl hover:opacity w-full h-[100%] bottom-[25px]"
          src="assets/coffee_avatar.svg" />
        <img
          *ngIf="!isNil(userPhoto)"
          [src]="userPhoto!"
          class="object-fill peer rounded-2xl hover:opacity w-full h-[100%]" />
        <div
          *ngIf="canQuicklyEditData"
          class="absolute bottom-[10px] left-[10px] hidden hover:flex peer-hover:flex justify-center align-center bg-white transition hover:bg-btnAccentPrimary p-2 shadow-2xl rounded-[1000px] hover:cursor-pointer">
          <mat-icon class="w-[10px] h-[10px]" (click)="onEditProfilePicture()"
            >edit</mat-icon
          >
        </div>
      </div>
      <mat-card-title class="pt-4 pl-4">{{
        userProfile?.firstName + ' ' + userProfile?.lastName
      }}</mat-card-title>
      <mat-card-subtitle class="pt-2 pl-4">{{
        userProfile?.userRoles?.join(', ')
      }}</mat-card-subtitle>
      <mat-card-subtitle
        (click)="onInstitutionNameCLicked()"
        class="hover:text-btnAccentHover hover:cursor-pointer pt-2 pl-4"
        *ngIf="!isNil(userProfile?.institutionName)"
        >{{ userProfile?.institutionName }}</mat-card-subtitle
      >
    </mat-card-title-group>
    <mat-card-content>
      <div class="grid lg:grid-cols-2 grid-cols-1">
        <div class="flex items-center flex-row py-3">
          <div
            class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
            <i class="fa-regular fa-envelope text-lg"></i>
          </div>
          <div class="flex justify-center flex-col px-2">
            <p class="font-semibold text-base !m-0">Email kontaktowy</p>
            <p class="text-bgPrimary font-bold text-sm !m-0">
              {{ userProfile?.contactEmailAddress }}
            </p>
          </div>
        </div>
        <div
          class="flex items-center flex-row py-3"
          *ngIf="!isNil(userProfile?.domainEmailAddress)">
          <div
            class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
            <i class="fa-regular fa-envelope text-lg"></i>
          </div>
          <div class="flex justify-center flex-col px-2">
            <p class="font-semibold text-base !m-0">Email uniwersytecki</p>
            <p class="text-bgPrimary font-bold text-sm !m-0">
              {{ userProfile?.domainEmailAddress }}
            </p>
          </div>
        </div>
        <div class="flex items-center flex-row py-3">
          <div
            class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
            <i class="fa-solid fa-phone text-lg"></i>
          </div>
          <div class="flex justify-center flex-col px-2">
            <p class="font-semibold text-base !m-0">Numer telefonu</p>
            <p class="text-bgPrimary font-bold text-sm !m-0">
              {{ userProfile?.phoneNumber }}
            </p>
          </div>
        </div>
        <div
          class="flex items-center flex-row py-3"
          *ngIf="!isNil(userProfile?.experienceLevel?.name)">
          <div
            class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
            <i class="fa-solid fa-star text-lg"></i>
          </div>
          <div class="flex justify-center flex-col px-2">
            <p class="font-semibold text-base !m-0">Poziom doświadczenia</p>
            <p class="text-bgPrimary font-bold text-sm !m-0">
              {{ userProfile?.experienceLevel?.name }}
              <i
                [matTooltip]="userProfile?.experienceLevel?.definition || ''"
                class="fa-regular fa-circle-question hover:text-btnAccentHover"></i>
            </p>
          </div>
        </div>
        <div
          class="flex items-center flex-row py-3"
          *ngIf="!isNil(userProfile?.fieldOfStudy)">
          <div
            class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
            <i class="fa-solid fa-graduation-cap text-lg"></i>
          </div>
          <div class="flex justify-center flex-col px-2">
            <p class="font-semibold text-base !m-0">Kierunek studiów</p>
            <p class="text-bgPrimary font-bold text-sm !m-0">
              {{ userProfile?.fieldOfStudy }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="grid grid-cols-1"
        *ngIf="!isNil(userProfile?.participationMotivation)">
        <div class="flex items-center flex-row py-3">
          <div
            class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
            <i class="fa-solid fa-message text-lg"></i>
          </div>
          <div class="flex justify-center flex-col px-2">
            <p class="font-semibold text-base !m-0">
              Motywacja do uczestnictwa
            </p>
          </div>
        </div>
        <div class="flex items-center flex-row py-3">
          <div class="flex justify-center flex-col px-2">
            <p class="text-bgPrimary font-bold text-sm !m-0">
              {{ userProfile?.participationMotivation }}
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card
    [ngClass]="{ 'blur-md': isLoadingData, 'animate-pulse': isLoadingData }"
    *ngIf="!isNil(userProfile?.interestCategories)">
    <mat-card-title>Kategorie zainteresowań</mat-card-title>
    <mat-card-content>
      <div class="py-3">
        <mat-chip-list>
          <mat-chip
            class="!bg-btnAccentPrimary text-xs md:text-base"
            *ngFor="let category of userProfile?.interestCategories"
            color="accent">
            {{ category.name }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card
    [ngClass]="{ 'blur-md': isLoadingData, 'animate-pulse': isLoadingData }"
    *ngIf="
      !isNil(userProfile?.interests) ||
      (canQuicklyEditData && canEditAdditionalVolunteerInfo)
    ">
    <mat-card-title-group>
      <mat-icon
        (click)="onEditInterests()"
        *ngIf="!isNil(userProfile?.interests) && canQuicklyEditData"
        class="hover:cursor-pointer"
        color="accent"
        >edit</mat-icon
      >
      <mat-card-title>Zainteresowania</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div class="py-3">
        <div
          *ngIf="
            !canQuicklyEditData || !isNil(userProfile?.interests);
            else addInterestsMessage
          "
          [innerHTML]="userProfile?.interests"></div>
        <ng-template #addInterestsMessage>
          <div
            class="flex lg:flex-row flex-col lg:items-baseline items-center lg:space-x-6 space-x-0">
            <p class="font-bold">
              Powiedz nam coś więcej o sobie i dodaj swoje zainteresowania!
            </p>
            <button
              mat-mini-fab
              color="accent"
              class="hover:bg-btnAccentHover animate-bounce-slow"
              (click)="onAddInterests()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card
    [ngClass]="{ 'blur-md': isLoadingData, 'animate-pulse': isLoadingData }"
    *ngIf="
      !isNil(userProfile?.experienceDescription) ||
      (canQuicklyEditData && canEditAdditionalVolunteerInfo)
    ">
    <mat-card-title-group>
      <mat-icon
        (click)="onEditExperienceDescription()"
        *ngIf="!isNil(userProfile?.experienceDescription) && canQuicklyEditData"
        class="hover:cursor-pointer"
        color="accent"
        >edit</mat-icon
      >
      <mat-card-title>Opis doświadczenia</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <div class="py-3">
        <div
          *ngIf="
            !canQuicklyEditData || !isNil(userProfile?.experienceDescription);
            else addExperienceMessage
          "
          [innerHTML]="userProfile?.experienceDescription"></div>
        <ng-template #addExperienceMessage>
          <div
            class="flex lg:flex-row flex-col lg:items-baseline items-center lg:space-x-6 space-x-0">
            <p class="font-bold">
              Powiedz nam coś więcej o sobie i dodaj swoje doświadczenie!
            </p>
            <button
              mat-mini-fab
              color="accent"
              class="hover:bg-btnAccentHover animate-bounce-slow"
              (click)="onAddExperienceDescription()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>
