<div class="lg:pt-10 flex flex-col">
  <section id="desktopFilterSection" class="flex flex-col w-full border-b-4">
    <section
      id="inputFields"
      class="flex flex-col lg:flex-row w-full justify-center lg:justify-between items-stretch lg:space-x-6">
      <mat-form-field appearance="outline" color="accent" class="flex w-full">
        <mat-icon matPrefix color="accent">search</mat-icon>
        <mat-icon
          *ngIf="
            typedTitleSearch !== null &&
            typedTitleSearch !== undefined &&
            typedTitleSearch !== ''
          "
          (click)="onSearchTitleClear()"
          matSuffix
          class="text-gray-300 hover:text-gray-500"
          >cancel</mat-icon
        >
        <input
          matInput
          placeholder="Wyszukaj po nazwie"
          [(ngModel)]="typedTitleSearch"
          (keyup.enter)="onSearchClicked()" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="flex w-full">
        <mat-label>Data rozpoczęcia wydarzenia</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          (click)="startDatePicker.open()"
          [(ngModel)]="selectedStartDate" />
        <mat-datepicker-toggle
          matPrefix
          [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker color="accent"></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="flex w-full">
        <mat-label>Data zakończenia wydarzenia</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          (click)="endDatePicker.open()"
          [(ngModel)]="selectedEndDate" />
        <mat-datepicker-toggle
          matPrefix
          [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker color="accent"></mat-datepicker>
      </mat-form-field>
    </section>
    <section
      id="searchBottomSection"
      class="flex flex-col lg:flex-row w-full h-full lg:pb-5 lg:pt-7 items-center">
      <section
        class="flex flex-col lg:flex-row w-full lg:w-1/2 h-full lg:space-x-6"
        id="multipleSelects">
        <mat-form-field appearance="outline" class="flex w-full" color="accent">
          <mat-label>Kategorie zainteresowań</mat-label>
          <mat-select multiple [(ngModel)]="selectedCategories">
            <mat-option
              *ngFor="let category of interestCategories"
              [value]="category.id"
              >{{ category.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex w-full" color="accent">
          <mat-label>Typy ogłoszeń</mat-label>
          <mat-select multiple [(ngModel)]="selectedTypes">
            <mat-option
              *ngFor="let type of advertisementType"
              [value]="type.id"
              >{{ type.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="flex w-full" color="accent">
          <mat-label>Widoczność</mat-label>
          <mat-select [(ngModel)]="selectedVisibility">
            <mat-option [value]="AdvertisementVisibilityEnum.All"
              >Wszystkie</mat-option
            >
            <mat-option [value]="AdvertisementVisibilityEnum.Active"
              >Widoczne</mat-option
            >
            <mat-option [value]="AdvertisementVisibilityEnum.Hidden"
              >Niewidoczne</mat-option
            >
          </mat-select>
        </mat-form-field>
      </section>
      <section
        id="controlButtons"
        class="flex flex-col lg:flex-row justify-center items-stretch lg:justify-end w-full lg:w-1/2 h-full lg:space-x-6 space-y-4 lg:space-y-0">
        <button
          *ngIf="filterHasValue"
          (click)="clearPanel()"
          mat-raised-button
          class="lg:w-1/5 w-full h-full hover:bg-btnAccentHover">
          <mat-icon matPrefix>delete</mat-icon>Usuń filtry
        </button>
        <button
          (click)="onSearchClicked()"
          mat-raised-button
          color="accent"
          class="lg:w-1/5 w-full h-full hover:bg-btnAccentHover">
          <mat-icon matPrefix>search</mat-icon>Szukaj
        </button>
      </section>
    </section>
  </section>
  <section id="mobileFilterSection" class="flex lg:hidden"></section>
</div>
