<header aria-label="Site Header" class="bg-bgPrimary fixed w-full z-50">
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-20 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600 w-[250px] md:w-[380px]" href="/">
          <app-logo></app-logo>
        </a>
      </div>
      <div class="hidden md:block">
        <nav aria-label="Site Nav">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                href="#about">
                O nas
              </a>
            </li>

            <li>
              <a
                class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                href="#howwework">
                Jak działamy
              </a>
            </li>

            <li>
              <a
                class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                href="#forVolonteers">
                Dla wolontariuszy
              </a>
            </li>

            <li>
              <a
                class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                href="#forInstitutions">
                Dla organizacji
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <nav
        [@sidebarTrigger]="showSidebar ? 'open' : 'close'"
        class="md:hidden bg-white fixed bottom-0 top-20 right-0 w-full h-1/2"
        aria-label="Site Nav">
        <ul class="flex flex-col items-center justify-center gap-6 text-sm">
          <li>
            <a
              class="text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
              href="#about">
              O nas
            </a>
          </li>

          <li>
            <a
              class="text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
              href="#howwework">
              Jak działamy
            </a>
          </li>

          <li>
            <a
              class="text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
              href="#forVolonteers">
              Dla wolontariuszy
            </a>
          </li>

          <li>
            <a
              class="text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
              href="#forInstitutions">
              Dla organizacji
            </a>
          </li>
        </ul>
        <div class="mt-10 flex flex-row justify-center items-center">
          <a
            class="text-center text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
            routerLink="/register">
            Nie masz konta? <br />
            Zarejestruj się!
          </a>
        </div>
      </nav>
      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <a
            class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
            routerLink="/login">
            Zaloguj się
          </a>
          <div class="hidden sm:flex">
            <a
              class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"
              routerLink="/register">
              Zarejestruj się
            </a>
          </div>
        </div>
        <div class="block md:hidden">
          <button
            class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            (click)="toggleMenu()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
