<header aria-label="Site Header" class="bg-bgPrimary fixed w-full z-50">
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-20 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600 w-[250px] md:w-[380px]" href="/">
          <app-logo></app-logo>
        </a>
      </div>
      <div class="hidden md:block">
        <nav aria-label="Site Nav">
          <ul class="flex items-center w-full gap-x-6 text-sm list-none">
            <li class="w-full" *ngFor="let section of sections">
              <a
                class="text-bgWhite hover:cursor-pointer hover:text-btnAccentPrimary transition"
                [href]="'#' + section.id">
                {{ section.title }}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <nav
        [@sidebarTrigger]="showSidebar ? 'open' : 'close'"
        class="md:hidden bg-white fixed bottom-0 top-20 right-0 w-full h-3/4"
        aria-label="Site Nav">
        <ul
          class="flex flex-col items-center justify-center gap-6 text-sm !list-none">
          <li *ngFor="let section of sections">
            <a
              class="text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
              [href]="'#' + section.id">
              {{ section.title }}
            </a>
          </li>
          <li *ngIf="!isUserLoggedIn">
            <a
              class="text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
              routerLink="/login">
              Zaloguj się
            </a>
          </li>
          <li *ngIf="!isUserLoggedIn">
            <a
              class="text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
              routerLink="/register">
              Zarejestruj się
            </a>
          </li>
        </ul>
        <div
          class="mt-10 flex flex-row justify-center items-center"
          *ngIf="isUserLoggedIn">
          <a
            class="text-center text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition"
            routerLink="/home">
            Przejdź do aplikacji
          </a>
        </div>
        <div
          class="mt-10 flex flex-row justify-center items-center"
          *ngIf="isPreviewMode">
          <a
            (click)="onBackToEdit()"
            class="text-center text-bgPrimary font-bold text-3xl hover:cursor-pointer hover:text-btnAccentPrimary transition">
            Wróć do edycji
          </a>
        </div>
      </nav>
      <div class="flex items-center gap-4">
        <div class="hidden md:flex sm:gap-4" *ngIf="!isUserLoggedIn">
          <a
            class="rounded-md bg-teal-600 px-5 py-2.5 text-sm lg:font-medium text-white shadow"
            routerLink="/login">
            Zaloguj się
          </a>
          <div class="hidden sm:flex">
            <a
              class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"
              routerLink="/register">
              Zarejestruj się
            </a>
          </div>
        </div>
        <div class="hidden md:flex sm:gap-4" *ngIf="isUserLoggedIn">
          <a
            class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"
            routerLink="/home">
            Przejdź do aplikacji
          </a>
        </div>
        <div class="hidden md:flex sm:gap-4" *ngIf="isPreviewMode">
          <a
            (click)="onBackToEdit()"
            class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600">
            Wróć do edycji
          </a>
        </div>
        <div class="block md:hidden">
          <button
            class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            (click)="toggleMenu()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
