<mat-card class="flex border-2 border-gray-300 shadow">
  <div class="flex flex-row w-full h-full">
    <mat-card-header class="basis-1/2">
      <mat-icon mat-card-avatar color="accent">receipt_long</mat-icon>
      <mat-card-title
        class="text-xl transition hover:bg-rowAccentHover rounded-md bg-opacity-40 hover:cursor-pointer"
        matTooltip="Zobacz podgląd ogłoszenia"
        routerLink="/advertisement/{{ advertisement?.id }} "
        >{{ advertisement?.offerTitle }}</mat-card-title
      >
      <mat-card-subtitle>Aktualna liczba aplikacji: 0</mat-card-subtitle>
    </mat-card-header>
    <div
      *ngIf="shouldShowContextMenu"
      class="flex flex-row basis-1/2 items-start justify-end">
      <button mat-button [matMenuTriggerFor]="quickMenu">
        <i
          class="fa-solid fa-ellipsis-vertical text-gray-400 hover:text-black scale-150"></i>
      </button>
    </div>
  </div>
  <mat-card-content>
    <span class="flex flex-col">
      <span>
        <p>
          Czas trwania wydarzenia:
          {{ getFormattedDate(advertisement?.startDate) }} -
          {{ getFormattedDate(advertisement?.endDate) }}
        </p>
      </span>
      <span class="flex lg:flex-row flex-col w-full justify-between pt-6">
        <span class="flex flex-row space-x-3">
          <mat-icon>location_on</mat-icon>
          <p>{{ advertisement?.offerPlace }}</p>
        </span>
        <span class="flex flex-row space-x-3">
          <mat-icon>tune</mat-icon>
          <p>Typ wydarzenia: {{ advertisement?.offerTypeName }}</p></span
        >
        <span class="flex flex-row space-x-3">
          <mat-icon>visibility</mat-icon>
          <p>
            Stan: {{ advertisement?.isHidden ? 'Ukryte' : 'Widoczne' }}
          </p></span
        >
        <span class="flex flex-row space-x-3">
          <mat-icon>calendar_today</mat-icon>
          <p>
            Data wygaśnięcia oferty:
            {{ getFormattedDate(advertisement?.offerExpirationDate) }}
          </p>
        </span>
      </span>
    </span>
  </mat-card-content>
  <mat-menu #quickMenu>
    <button mat-menu-item (click)="goToEditAdvertisement()">
      <mat-icon matPrefix color="accent">edit</mat-icon>
      Edytuj
    </button>
    <button mat-menu-item (click)="onOfferVisibilityChange()">
      <mat-icon *ngIf="advertisement?.isHidden" matPrefix color="primary"
        >visibility</mat-icon
      >
      <mat-icon *ngIf="!advertisement?.isHidden" matPrefix color="primary"
        >visibility_off</mat-icon
      >
      {{ advertisement?.isHidden ? 'Ustaw widoczne' : 'Ustaw niewidoczne' }}
    </button>
    <button mat-menu-item disabled>
      <mat-icon disabled matPrefix color="warn">delete</mat-icon>
      Usuń
    </button>
  </mat-menu>
</mat-card>
