<div class="flex flex-col w-full bg-gray-100 min-h-screen">
  <section
    class="flex flex-row w-full items-center justify-center lg:py-10 py-3"
    id="filter-section">
    <app-users-filter-pane
      class="flex w-3/4"
      #filterPanel></app-users-filter-pane>
  </section>
  <section class="flex flex-row w-full items-center justify-center py-3">
    <app-users-list
      (administrativeAction)="onAdministrativeAction($event)"
      (paginatorChange)="onPaginatorValueChange($event)"
      [usersList]="users"
      [availablePageSizes]="availablePageSizes"
      [totalElements]="totalElements"
      [currentPageIndex]="currentPage"
      [currentPageSize]="pageSize"
      class="flex w-3/4"></app-users-list>
  </section>
</div>
