<div
  *ngIf="requestSent"
  class="h-screen w-screen flex flex-col items-center justify-center">
  <mat-progress-spinner
    [mode]="'indeterminate'"
    [color]="'accent'"></mat-progress-spinner>
</div>
<div
  *ngIf="!requestSent"
  class="h-screen w-screen flex flex-col items-center justify-center">
  <span class="flex flex-row lg:space-x-5 py-6">
    <div class="lg:flex hidden">
      <mat-icon class="scale-150 pt-1" color="accent">lock</mat-icon>
    </div>
    <div class="text-4xl font-bold text-center">Ustaw nowe hasło</div>
  </span>
  <app-set-password-component
    (formSubmitEvent)="resetPassword($event)"
    [resetRequest]="true"
    class="h-3/4 w-3/4">
  </app-set-password-component>
</div>
