<div class="flex flex-col justify-center min-h-screen">
  <div class="text-4xl font-bold text-center pb-8">Zarejestruj się</div>
  <div class="pt-2 pb-5">
    <p class="text-lg">
      Reprezentujesz instytucję?
      <span
        routerLink="/institution/register"
        class="hover:text-btnAccentPrimary hover:cursor-pointer underline"
        >Przejdź do rejestracji dla instytucji</span
      >
    </p>
  </div>
  <div>
    <form [formGroup]="registerFormGroup" (ngSubmit)="onFormSubmit()">
      <div class="flex flex-col lg:flex-row items-stretch">
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          appearance="standard"
          color="accent">
          <mat-label
            >Imię
            {{
              countCharacters('firstName', registerFormGroup, 100)
            }}</mat-label
          >
          <input matInput formControlName="firstName" />
          <mat-icon matPrefix color="accent">person</mat-icon>
          <mat-hint *ngIf="registerFormGroup.controls['firstName'].invalid"
            >Pole wymagane
          </mat-hint>
        </mat-form-field>
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:ml-3"
          appearance="standard"
          color="accent">
          <mat-label
            >Nazwisko
            {{ countCharacters('lastName', registerFormGroup, 100) }}</mat-label
          >
          <input matInput formControlName="lastName" />
          <mat-icon matPrefix color="accent">person</mat-icon>
          <mat-hint *ngIf="registerFormGroup.controls['lastName'].invalid"
            >Pole wymagane
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          appearance="standard"
          color="accent">
          <mat-label>Adres email uczelniany</mat-label>
          <input matInput formControlName="domainEmail" />
          <mat-icon matPrefix color="accent">mail</mat-icon>
          <mat-hint *ngIf="registerFormGroup.controls['domainEmail'].invalid"
            >Pole wymagane
          </mat-hint>
        </mat-form-field>
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:ml-3"
          appearance="standard"
          color="accent">
          <mat-label>Adres email kontaktowy</mat-label>
          <input matInput formControlName="contactEmail" />
          <mat-icon matPrefix color="accent">mail</mat-icon>
          <mat-hint *ngIf="registerFormGroup.controls['contactEmail'].invalid"
            >Pole wymagane
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          appearance="standard"
          color="accent">
          <mat-label>Hasło</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="passwordInputType" />
          <mat-icon matPrefix color="accent">lock</mat-icon>
          <mat-icon
            class="hover:opacity-100 hover:cursor-pointer opacity-50"
            matSuffix
            (click)="isPasswordShown = !isPasswordShown">
            {{ !isPasswordShown ? 'visibility' : 'visibility_off' }}</mat-icon
          >
        </mat-form-field>
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:ml-3"
          appearance="standard"
          color="accent">
          <mat-label>Powtórz hasło</mat-label>
          <input matInput formControlName="passwordRepeat" type="password" />
          <mat-icon matPrefix color="accent">lock</mat-icon>
        </mat-form-field>
      </div>
      <app-password-check-card
        [passwordValue]="passwordValue"
        [repeatPasswordValue]="repeatPasswordValue"></app-password-check-card>
      <div class="flex flex-col lg:flex-row justify-between items-stretch pt-3">
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          color="accent">
          <mat-label>Numer telefonu</mat-label>
          <input matInput formControlName="phoneNumber" />
          <mat-icon matPrefix color="accent">phone_iphone</mat-icon>
          <mat-hint
            *ngIf="
              !registerFormGroup.controls['phoneNumber']?.hasError('pattern')
            "
            >Podaj numer telefonu w formacie XXXXXXXXX (X to cyfra).
          </mat-hint>
          <mat-hint
            class="text-red-500"
            *ngIf="
              registerFormGroup.controls['phoneNumber']?.hasError('pattern')
            "
            >Podaj prawidłowy numer telefonu
          </mat-hint>
        </mat-form-field>
        <mat-form-field
          class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
          color="accent">
          <mat-label
            >Kierunek studiów
            {{
              countCharacters('fieldOfStudy', registerFormGroup, 100)
            }}</mat-label
          >
          <mat-icon matPrefix color="accent">school</mat-icon>
          <input matInput formControlName="fieldOfStudy" />
          <mat-hint
            class="text-red-500"
            *ngIf="
              hasMaxLengthError(registerFormGroup.controls['fieldOfStudy']) !==
              undefined
            "
            >Maksymalna ilość znaków to
            {{
              hasMaxLengthError(registerFormGroup.controls['fieldOfStudy'])
            }}</mat-hint
          >
        </mat-form-field>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch pt-3">
        <mat-form-field class="flex pt-3 pb-3 flex-col w-full" color="accent">
          <mat-label>Wybierz zainteresowania</mat-label>
          <mat-select
            formControlName="interestCategories"
            id="interestCategories"
            name="interestCategories"
            multiple>
            <mat-option
              *ngFor="let category of availableCategories"
              [value]="category.value">
              {{ category.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="w-full" appearance="fill" color="accent">
        <mat-label
          >Motywacja do uczestnictwa:
          {{
            countCharacters('participationMotivation', registerFormGroup, 500)
          }}</mat-label
        >
        <textarea matInput formControlName="participationMotivation">
        </textarea>
        <mat-hint
          *ngIf="registerFormGroup.controls['participationMotivation'].invalid"
          >Pole wymagane, podaj maksymalnie 1500 znaków
        </mat-hint>
      </mat-form-field>
      <div class="flex flex-row space-x-3 w-full pt-6">
        <mat-checkbox formControlName="rodo" color="accent"></mat-checkbox>
        <label class="font-medium break-normal"
          >Akceptuję zgodę na przetwarzanie moich danych osobowych (<span
            (click)="showRodoRegulations.emit()"
            class="underline hover:text-btnAccentHover hover:cursor-pointer"
            >zasady dostępne tutaj</span
          >)</label
        >
      </div>
      <div class="flex flex-row space-x-3 w-full pt-6">
        <mat-checkbox formControlName="regulations" color="accent">
        </mat-checkbox>
        <label class="font-medium break-normal"
          >Oznajmiam, że zapoznałem się z regulaminem systemu Volontario i
          akceptuję go (<span
            (click)="showUseRegulations.emit()"
            class="underline hover:text-btnAccentHover hover:cursor-pointer"
            >regulamin dostępny tutaj</span
          >)</label
        >
      </div>
      <div class="flex flex-col items-center">
        <app-primary-button
          class="w-1/2 h-full pt-10"
          [buttonLabel]="'Zarejestruj się'"
          [buttonType]="'submit'"
          [shouldBeEnabled]="registerFormGroup.valid"
          [isLoading]="false">
        </app-primary-button>
      </div>
    </form>
  </div>
</div>
