<div class="">
  <div class="text-4xl font-bold text-center pb-8">Zarejestruj się</div>
  <div>
    <form [formGroup]="registerFormGroup" (ngSubmit)="onFormSubmit()">
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <div class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <label for="firstName" class="block font-semibold">Imię </label>
          <div class="relative w-full">
            <i
              class="fa-solid fa-user top-1/2 -translate-y-[60%] absolute text-bgPrimary text-xl"></i>
            <input
              id="firstName"
              name="firstName"
              type="text"
              formControlName="firstName"
              [ngClass]="{
                'border-bgPrimary':
                  registerFormGroup.controls['firstName'].valid,
                'border-red-500': !registerFormGroup.controls['firstName'].valid
              }"
              class="text-l block pb-2 pl-7 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold" />
          </div>
        </div>
        <div class="flex pt-3 pb-3 flex-col w-full lg:ml-3">
          <label for="firstName" class="block font-semibold">Nazwisko </label>
          <div class="relative w-full">
            <i
              class="fa-solid fa-user top-1/2 -translate-y-[60%] absolute text-bgPrimary text-xl"></i>
            <input
              id="lastName"
              name="lastName"
              type="text"
              formControlName="lastName"
              [ngClass]="{
                'border-bgPrimary':
                  registerFormGroup.controls['lastName'].valid,
                'border-red-500': !registerFormGroup.controls['lastName'].valid
              }"
              class="text-l block pb-2 pl-7 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold" />
          </div>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <div class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <label for="domainEmail" class="block font-semibold"
            >Adres email uczelniany
          </label>
          <div class="relative w-full">
            <i
              class="fa-solid fa-envelope top-1/2 -translate-y-[60%] absolute text-bgPrimary text-xl"></i>
            <input
              id="domainEmail"
              name="domainEmail"
              type="text"
              formControlName="domainEmail"
              [ngClass]="{
                'border-bgPrimary':
                  registerFormGroup.controls['domainEmail'].valid,
                'border-red-500':
                  !registerFormGroup.controls['domainEmail'].valid
              }"
              class="text-l block pb-2 pl-7 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold" />
          </div>
        </div>
        <div class="flex pt-3 pb-3 flex-col w-full lg:ml-3">
          <label for="contactEmail" class="block font-semibold"
            >Adres email kontaktowy
          </label>
          <div class="relative w-full">
            <i
              class="fa-solid fa-envelope top-1/2 -translate-y-[60%] absolute text-bgPrimary text-xl"></i>
            <input
              id="contactEmail"
              name="contactEmail"
              type="text"
              formControlName="contactEmail"
              [ngClass]="{
                'border-bgPrimary':
                  registerFormGroup.controls['contactEmail'].valid,
                'border-red-500':
                  !registerFormGroup.controls['contactEmail'].valid
              }"
              class="text-l block pb-2 pl-7 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold" />
          </div>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <div class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <label for="password" class="block font-semibold">Hasło </label>
          <div class="relative w-full">
            <i
              class="fa-solid fa-lock top-1/2 -translate-y-[60%] absolute text-bgPrimary text-xl"></i>
            <input
              id="password"
              name="password"
              type="password"
              formControlName="password"
              [ngClass]="{
                'border-bgPrimary':
                  registerFormGroup.controls['password'].valid,
                'border-red-500': !registerFormGroup.controls['password'].valid
              }"
              class="text-l block pb-2 pl-7 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold"
              (keyup)="checkPassword()" />
          </div>
        </div>
        <div class="flex pt-3 pb-3 flex-col w-full lg:ml-3">
          <label for="passwordRepeat" class="block font-semibold"
            >Powtórz hasło
          </label>
          <div class="relative w-full">
            <i
              class="fa-solid fa-lock top-1/2 -translate-y-[60%] absolute text-bgPrimary text-xl"></i>
            <input
              id="passwordRepeat"
              name="passwordRepeat"
              type="password"
              formControlName="passwordRepeat"
              class="text-l border-b-bgPrimary block pb-2 pl-7 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold" />
          </div>
        </div>
      </div>
      <div class="w-full bg-bgPrimary bg-opacity-10 p-3 rounded-md">
        <h1 class="font-bold text-sm">Twoje hasło musi zawierać</h1>
        <ul class="text-xs list-inside pl-4 font-semibold">
          <li
            [ngClass]="{
              'text-red-600': !checkPassword().hasLowerCase,
              'text-green-600': checkPassword().hasLowerCase
            }">
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-circle-xmark': !checkPassword().hasLowerCase,
                'fa-circle-check': checkPassword().hasLowerCase
              }"></i>
            1 małą literę
          </li>
          <li
            [ngClass]="{
              'text-red-600': !checkPassword().hasUpperCase,
              'text-green-600': checkPassword().hasUpperCase
            }">
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-circle-xmark': !checkPassword().hasUpperCase,
                'fa-circle-check': checkPassword().hasUpperCase
              }"></i>
            1 duza literę
          </li>
          <li
            [ngClass]="{
              'text-red-600': !checkPassword().hasNumber,
              'text-green-600': checkPassword().hasNumber
            }">
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-circle-xmark': !checkPassword().hasNumber,
                'fa-circle-check': checkPassword().hasNumber
              }"></i>
            1 cyfrę
          </li>
          <li
            [ngClass]="{
              'text-red-600': !checkPassword().hasSpecialChar,
              'text-green-600': checkPassword().hasSpecialChar
            }">
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-circle-xmark': !checkPassword().hasSpecialChar,
                'fa-circle-check': checkPassword().hasSpecialChar
              }"></i>
            1 znak specjalny
          </li>
          <li
            [ngClass]="{
              'text-red-600': !checkPassword().isTheSame,
              'text-green-600': checkPassword().isTheSame
            }">
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-circle-xmark': !checkPassword().isTheSame,
                'fa-circle-check': checkPassword().isTheSame
              }"></i>
            Hasła są takie same
          </li>
        </ul>
      </div>
      <div class="flex flex-col lg:flex-row justify-between items-stretch">
        <div class="flex pt-3 pb-3 flex-col w-full lg:mr-3">
          <label for="experience" class="block font-semibold"
            >Poziom doświadczenia
          </label>
          <div class="relative w-full">
            <input
              id="experience"
              name="experience"
              type="range"
              min="1"
              max="5"
              formControlName="experience"
              [ngClass]="{
                'border-bgPrimary':
                  registerFormGroup.controls['experience'].valid,
                'border-red-500':
                  !registerFormGroup.controls['experience'].valid
              }"
              class="w-full accent-bgPrimary py-3" />
          </div>
        </div>
        <div class="flex pt-3 pb-3 flex-col w-full lg:ml-3">
          <label for="interestCategories" class="block font-semibold"
            >Wybierz zainteresowania
          </label>
          <div class="relative w-full">
            <select
              id="interestCategories"
              name="interestCategories"
              formControlName="interestCategories"
              [ngClass]="{
                'border-bgPrimary':
                  registerFormGroup.controls['interestCategories'].valid,
                'border-red-500':
                  !registerFormGroup.controls['interestCategories'].valid
              }"
              class="text-l block pb-2 pl-7 w-full text-sm text-black bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold">
              <option
                *ngFor="let interestCategory of interestCategoriesData"
                [value]="interestCategory.value">
                {{ interestCategory.viewValue }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="w-full">
        <label class="block font-semibold">Motywacja do uczestnictwa: </label>
        <textarea
          formControlName="participationMotivation"
          [ngClass]="{
            'border-bgPrimary':
              registerFormGroup.controls['participationMotivation'].valid,
            'border-red-500':
              !registerFormGroup.controls['participationMotivation'].valid
          }"
          class="w-full text-sm p-2 bg-bgPrimary bg-opacity-20 rounded-md border-b-2 border-bgPrimary resize-none h-[120px]">
        </textarea>
      </div>
      <div class="w-full">
        <input
          type="checkbox"
          formControlName="rodo"
          class="checked:bg-bgPrimary mr-3" />
        <label class="font-medium"
          >Wyrazam zgode na przetwarzanie moich danych.....</label
        >
      </div>
      <div class="flex flex-col items-center">
        <app-primary-button
          class="w-1/2 h-full"
          [buttonLabel]="'Zarejestruj się'"
          [buttonType]="'submit'"
          [shouldBeEnabled]="registerFormGroup.valid"
          [isLoading]="false">
        </app-primary-button>
      </div>
    </form>
  </div>
</div>
