<mat-card class="flex border-2">
  <mat-card-header>
    <mat-icon mat-card-avatar color="accent">receipt_long</mat-icon>
    <mat-card-title
      class="!text-base hover:bg-rowAccentHover hover:cursor-pointer hover:rounded-xl transition"
      routerLink="/advertisement/{{ advertisement?.id }} "
      >{{
        shortTitle(advertisement?.offerTitle ? advertisement?.offerTitle : '')
      }}
    </mat-card-title>
    <mat-card-subtitle>
      <div class="flex flex-col">
        <div class="flex flex-row space-x-3">
          <i class="fa-sharp fa-solid fa-building"></i>
          <p>{{ advertisement?.institutionName }}</p>
        </div>
        <div class="flex flex-row space-x-3">
          <i class="fa-solid fa-location-dot"></i>
          <p>
            {{
              advertisement?.isPoznanOnly ? 'Poznań' : advertisement?.offerPlace
            }}
          </p>
        </div>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <span class="flex flex-row w-full justify-end items-center pt-2">
      <p>
        Data wygaśnięcia oferty:
        {{ getFormattedDate(advertisement?.offerExpirationDate) }}
      </p>
    </span>
  </mat-card-content>
</mat-card>
