<h1>Dodaj nowego pracownika/pracowniczkę</h1>
<mat-dialog-content>
  <form [formGroup]="addEmployeeForm">
    <mat-form-field *ngIf="false">
      <input formControlName="institutionId" matInput />
    </mat-form-field>
    <mat-form-field color="accent" appearance="standard" class="flex w-full">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName" />
      <mat-hint
        class="text-red-500"
        *ngIf="addEmployeeForm.controls['firstName'].hasError('required')"
        >Pole jest wymagane</mat-hint
      >
      <mat-hint
        class="text-red-500"
        *ngIf="!isNil(hasMaxLengthError(addEmployeeForm.controls['firstName']))"
        >Imię nie może być dłuższe niż
        {{ hasMaxLengthError(addEmployeeForm.controls['firstName']) }}
        znaków</mat-hint
      >
    </mat-form-field>
    <mat-form-field color="accent" appearance="standard" class="flex w-full">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName" />
      <mat-hint
        class="text-red-500"
        *ngIf="addEmployeeForm.controls['lastName'].hasError('required')"
        >Pole jest wymagane</mat-hint
      >
      <mat-hint
        class="text-red-500"
        *ngIf="!isNil(hasMaxLengthError(addEmployeeForm.controls['lastName']))"
        >Nazwisko nie może być dłuższe niż
        {{ hasMaxLengthError(addEmployeeForm.controls['lastName']) }}
        znaków</mat-hint
      >
    </mat-form-field>
    <mat-form-field color="accent" appearance="standard" class="flex w-full">
      <mat-icon matPrefix>alternate_email</mat-icon>
      <mat-label>Email</mat-label>
      <input matInput formControlName="contactEmail" />
      <mat-hint
        class="text-red-500"
        *ngIf="addEmployeeForm.controls['contactEmail'].hasError('required')"
        >Pole jest wymagane</mat-hint
      >
      <mat-hint
        class="text-red-500"
        *ngIf="addEmployeeForm.controls['contactEmail'].hasError('email')"
        >Podaj prawidłowy adres email</mat-hint
      >
    </mat-form-field>
    <mat-form-field color="accent" appearance="standard" class="flex w-full">
      <mat-label>Numer kontaktowy</mat-label>
      <mat-icon matPrefix>dialpad</mat-icon>
      <input matInput formControlName="phoneNumber" type="number" />
      <mat-hint
        class="text-red-500"
        *ngIf="addEmployeeForm.controls['phoneNumber'].hasError('required')"
        >Pole jest wymagane</mat-hint
      >
      <mat-hint
        class="text-red-500"
        *ngIf="
          !isNil(hasMaxLengthError(addEmployeeForm.controls['phoneNumber']))
        "
        >Numer telefonu może mieć maksymalnie
        {{ hasMaxLengthError(addEmployeeForm.controls['phoneNumber']) }}
        znaków</mat-hint
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Anuluj</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onFormClose()"
    [disabled]="addEmployeeForm.invalid">
    Dodaj
  </button>
</mat-dialog-actions>
