<main
  class="min-h-screen max-w-screen-lg mx-auto pt-16 flex flex-col"
  [ngClass]="{ 'animate-pulse': isLoadingData, 'blur-lg': isLoadingData }">
  <div>
    <button
      mat-raised-button
      class="hover:bg-btnAccentHover lg:w-1/4 w-full py-5"
      (click)="onGoBackToOfferListButtonClicked()"
      color="accent">
      <mat-icon matPrefix>arrow_back</mat-icon>
      Wróć do listy ogłoszeń
    </button>
  </div>

  <mat-tab-group class="w-full py-5" *ngIf="canManageOffer">
    <mat-tab label="Szczegóły ogłoszenia">
      <div class="flex lg:flex-row flex-col">
        <div *ngTemplateOutlet="advertisementDetailsMainPage"></div>
        <div *ngTemplateOutlet="sideButtonContainer"></div>
      </div>
    </mat-tab>
    <mat-tab label="Aplikacje" *ngIf="canManageOffer">
      <div class="flex flex-row">
        <div class="min-h-screen w-full mx-auto">
          <mat-card *ngIf="canManageOffer" class="my-8 w-full">
            <mat-card-title>
              <h1>Osoby które zaaplikowały</h1>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content class="py-3">
              <app-application-list></app-application-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="flex flex-col lg:flex-row" *ngIf="!canManageOffer">
    <div *ngTemplateOutlet="advertisementDetailsMainPage"></div>
    <div *ngTemplateOutlet="sideButtonContainer"></div>
  </div>
  <ng-template #advertisementDetailsMainPage>
    <div class="min-h-screen w-full lg:basis-4/5 mx-auto">
      <mat-card class="my-8">
        <mat-card-title>
          <h1>{{ advertisementData?.offerTitle }}</h1>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="py-3">
          <div class="w-full grid grid-cols-1 md:grid-cols-2">
            <div class="flex items-center flex-row py-3">
              <div
                class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
                <i class="fa-solid fa-calendar-day text-lg"></i>
              </div>
              <div class="flex justify-center flex-col px-2">
                <p class="font-semibold text-base !m-0">Typ wydarzenia</p>
                <p class="text-bgPrimary font-bold text-sm !m-0">
                  {{ advertisementData?.offerType?.name }}
                </p>
              </div>
            </div>
            <div class="flex items-center flex-row py-3">
              <div
                class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
                <i class="fa-solid fa-calendar-day text-lg"></i>
              </div>
              <div class="flex justify-center flex-col px-2">
                <p class="font-semibold text-base !m-0">Czas wygaśnięcia</p>
                <p class="text-bgPrimary font-bold text-sm !m-0">
                  {{ convertDate(advertisementData?.offerExpirationDate) }}
                </p>
              </div>
            </div>
            <div class="flex items-center flex-row py-3">
              <div
                class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
                <i class="fa-solid fa-hand-point-up text-lg"></i>
              </div>
              <div class="flex justify-center flex-col px-2">
                <p class="font-semibold text-base !m-0">Poziom doświadczenia</p>
                <p class="text-bgPrimary font-bold text-sm !m-0">
                  {{
                    !advertisementData?.isExperienceRequired
                      ? 'Każdy poziom doświadczenia'
                      : advertisementData?.experienceLevel?.name
                  }}
                  <i
                    *ngIf="advertisementData?.isExperienceRequired"
                    [matTooltip]="
                      advertisementData?.experienceLevel?.definition || ''
                    "
                    class="fa-regular fa-circle-question hover:text-btnAccentHover"></i>
                </p>
              </div>
            </div>
            <div class="flex items-center flex-row py-3">
              <div
                class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
                <i class="fa-solid fa-location-dot text-lg"></i>
              </div>
              <div class="flex justify-center flex-col px-2">
                <p class="font-semibold text-base !m-0">Miejsce wydarzenia</p>
                <p class="text-bgPrimary font-bold text-sm !m-0">
                  {{
                    advertisementData?.isPoznanOnly
                      ? 'Poznań'
                      : advertisementData?.offerPlace
                  }}
                </p>
              </div>
            </div>
            <div class="flex items-center flex-row py-3">
              <div
                class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
                <i class="fa-solid fa-calendar-check text-lg"></i>
              </div>
              <div class="flex justify-center flex-col px-2">
                <p class="font-semibold text-base !m-0">Data rozpoczęcia</p>
                <p class="text-bgPrimary font-bold text-sm !m-0">
                  {{ convertDate(advertisementData?.startDate) }}
                </p>
              </div>
            </div>
            <div class="flex items-center flex-row py-3">
              <div
                class="rounded-full bg-btnAccentHover w-10 h-10 flex justify-center items-center">
                <i class="fa-solid fa-calendar-xmark text-lg"></i>
              </div>
              <div class="flex justify-center flex-col px-2">
                <p class="font-semibold text-base !m-0">Data zakończenia</p>
                <p class="text-bgPrimary font-bold text-sm !m-0">
                  {{ convertDate(advertisementData?.endDate) }}
                </p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="my-8">
        <mat-card-title><h1>Kategorie wydarzenia</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="py-3">
          <mat-chip-list>
            <mat-chip
              *ngFor="let category of advertisementData?.interestCategories"
              class="!bg-btnAccentHover text-xs md:text-base"
              >{{ category.name }}</mat-chip
            >
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

      <mat-card class="my-8">
        <mat-card-title><h1>Opis</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content
          class="py-3"
          [innerHTML]="advertisementData?.offerDescription"></mat-card-content>
      </mat-card>

      <mat-card
        *ngIf="
          !isNil(advertisementData?.periodicDescription) &&
          advertisementData?.periodicDescription?.trim() !== ''
        "
        class="my-8">
        <mat-card-title><h1>Opis cykliczności</h1></mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="py-3">{{
          advertisementData?.periodicDescription
        }}</mat-card-content>
      </mat-card>

      <mat-card *ngIf="advertisementData?.offerBenefitIds" class="my-8">
        <mat-card-title>
          <h1>Dodatkowe świadczenia</h1>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="py-3">
          <mat-chip-list>
            <mat-chip
              *ngFor="let benefits of advertisementData?.offerBenefitIds"
              class="!bg-btnAccentHover text-xs md:text-base"
              >{{ benefits.name }}</mat-chip
            >
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
  <ng-template #sideButtonContainer>
    <mat-card
      class="w-full lg:basis-1/5 lg:h-[300px] my-8 lg:mx-4"
      *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Volunteer) || canManageOffer">
      <mat-card-title *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Volunteer)"
        ><h3>Aplikuj na ogłoszenie</h3></mat-card-title
      >
      <mat-card-content>
        <div
          *ngIf="loggedUser?.hasUserRole(UserRoleEnum.Volunteer)"
          class="flex flex-col space-y-4 w-full h-full">
          <button
            mat-raised-button
            class="w-full hover:bg-btnAccentHover"
            color="accent"
            [matTooltip]="applicationState"
            [matTooltipDisabled]="canApplyForOffer"
            [disabled]="!canApplyForOffer"
            (click)="onApplyButtonCLicked()">
            Aplikuj
          </button>
          <button
            *ngIf="canConfirmPresence && canChangePresenceDecision"
            (click)="onConfirmPresenceButtonCLicked()"
            matTooltip="Potwierdź swój udział"
            mat-raised-button
            color="primary"
            class="hover:bg-btnAccentHoverPrimary">
            {{ getVolunteerConfirmPresenceButtonLabel() }}
          </button>
          <span
            *ngIf="hasVolunteerAlreadyMadePresenceDecision"
            class="text-sm"
            [innerHTML]="getDecisionChangeLabel()"></span>
        </div>
        <div
          *ngIf="canManageOffer"
          class="flex flex-col w-full h-full space-y-3">
          <button
            (click)="onEditButtonClicked()"
            mat-raised-button
            class="w-full hover:bg-btnAccentHover"
            color="accent">
            Edytuj ogłoszenie
          </button>
          <button
            [disabled]="shouldDisableInstitutionPresence()"
            (click)="onConfirmPresenceButtonCLicked()"
            *ngIf="canConfirmPresence && canChangePresenceDecision"
            mat-raised-button
            color="primary"
            class="hover:bg-btnAccentHoverPrimary">
            {{ getInstitutionConfirmPresenceButtonLabel() }}
          </button>
          <span *ngIf="shouldDisableInstitutionPresence()"
            >Ogłoszenie nie ma żadnych aplikacji przekazanych do dalszej
            rekrutacji</span
          >
          <span
            class="text-sm"
            *ngIf="hasInstitutionAlreadyMadePresenceDecision"
            [innerHTML]="getDecisionChangeLabel()"></span>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</main>
