<div class="flex flex-col items-center justify-center min-h-screen w-full">
  <div class="pb-5">
    <div class="text-4xl font-bold text-center pb-8">Zaloguj się</div>
  </div>
  <div class="lg:w-1/2 w-full px-5">
    <form [formGroup]="loginFormGroup" (ngSubmit)="onFormSubmit()">
      <div class="pb-3 pt-3">
        <label for="login" class="font-bold pb-3 pt-3">Adres Email</label>
        <div class="relative flex items-center pt-3 pb-3">
          <i
            class="fa-solid fa-envelope -translate-y-1 absolute text-btnAccentPrimary text-xl"></i>
          <input
            id="login"
            name="login"
            type="email"
            formControlName="login"
            [ngClass]="{
              'border-btnAccentPrimary': loginFormGroup.controls['login'].valid,
              'border-pink-600': !loginFormGroup.controls['login'].valid
            }"
            class="text-l block pb-1 pl-7 w-full text-sm text-black-900 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold" />
        </div>
      </div>
      <span
        *ngIf="loginHasFailed && !accountInactive"
        class="text-red-400 text-sm"
        >Niepoprawna nazwa użytkownika/czki lub hasło</span
      >
      <span
        *ngIf="loginHasFailed && accountInactive"
        class="text-red-400 text-sm"
        >Twoje konto jest nieaktywne. Sprawdź swoją skrzynkę mailową bądź
        skontaktuj się z administracją</span
      >
      <div class="pb-3 pt-3">
        <label for="password" class="font-bold">Hasło</label>
        <div class="relative flex items-center pt-3 pb-3">
          <i
            class="fa-solid fa-lock -translate-y-1 absolute text-btnAccentPrimary text-xl"></i>
          <input
            id="password"
            name="password"
            type="password"
            formControlName="password"
            [ngClass]="{
              'border-btnAccentPrimary': loginFormGroup.controls['login'].valid,
              'border-pink-600': !loginFormGroup.controls['login'].valid
            }"
            class="block pb-1 pl-7 w-full text-sm text-black-900 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 peer font-semibold" />
        </div>
      </div>
      <div class="pt-5">
        <span class="text-sm">Nie masz konta? </span>
        <span
          class="text-sm text-decoration-line: underline hover:text-btnAccentPrimary hover:cursor-pointer"
          (click)="registerButtonClicked.emit()"
          >Zarejestruj się</span
        >
      </div>
      <div class="pt-5">
        <span class="text-sm"
          >Reprezentujesz instytycję i nie masz konta?
        </span>
        <span
          class="text-sm text-decoration-line: underline hover:text-btnAccentPrimary hover:cursor-pointer"
          (click)="registerInstitutionButtonClicked.emit()"
          >Załóż je</span
        >
      </div>
      <div class="pt-10 flex flex-col items-center">
        <app-primary-button
          class="w-1/2 h-full"
          [buttonLabel]="'Zaloguj'"
          [buttonType]="'submit'"
          [shouldBeEnabled]="loginFormGroup.valid"
          [isLoading]="isLogging">
        </app-primary-button>
      </div>
    </form>
  </div>
</div>
