<div>
  <form [formGroup]="additionalInfoFormGroup">
    <div class="flex flex-col lg:flex-row items-stretch">
      <mat-form-field class="flex pt-3 pb-3 flex-col w-full lg:mr-3" appearance="standard" color="accent">
        <mat-label>Kategorie ogłoszenia</mat-label>
        <mat-icon matPrefix color="accent">category</mat-icon>
        <mat-select multiple formControlName="advertisementCategories">
          <mat-option *ngFor="let category of interestCategories" [value]="category.id">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col lg:flex-row items-stretch">
      <mat-slide-toggle
        class="flex pt-3 pb-3 flex-col w-full lg:mr-3"
        formControlName="isExperienceRequired"
        color="accent"
        (change)="onExperienceRequiredChange($event)"
        >Czy doświadczenie jest wymagane?</mat-slide-toggle
      >
    </div>
    <div class="flex flex-col lg:flex-row items-stretch">
      <mat-form-field class="flex pt-3 pb-3 flex-col w-full lg:mr-3" appearance="standard" color="accent">
        <mat-label>Minimalny poziom doświadczenia</mat-label>
        <mat-icon matPrefix color="accent">category</mat-icon>
        <mat-select formControlName="experienceLevel" [disabled]="additionalInfoFormGroup.controls['isExperienceRequired'].value === false">
          <mat-option *ngFor="let experience of experienceLevels" [value]="experience.id"
            >{{ experience.name }}
            <i [matTooltip]="experience.description || ''" class="fa-regular fa-circle-question hover:text-btnAccentHover"></i>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col lg:flex-row justify-between items-stretch pt-3">
      <mat-form-field class="flex pt-3 pb-3 flex-col w-full lg:mr-3" appearance="standard" color="accent">
        <mat-label>Krótki opis wolontariatu</mat-label>
        <mat-icon matPrefix color="accent">description</mat-icon>
        <textarea matInput formControlName="description"></textarea>
        <mat-hint
          *ngIf="
            !isNil(
              additionalInfoFormGroup.controls['description'].errors?.[
                'maxlength'
              ]
            )
          "
          >Opis powinien zawierać maksymalnie {{ maxDescriptionLength }}</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="flex flex-row items-center gap-x-5 justify-between pt-10">
      <button mat-raised-button matStepperPrevious type="button" class="w-1/2 h-full" color="primary">Wstecz</button>
      <button mat-raised-button matStepperNext type="button" class="w-1/2 h-full" color="accent">Dalej</button>
    </div>
  </form>
</div>
