<div class="flex flex-col justify-center min-h-screen">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar [ngStyle]="{ color: 'green' }"
        >task_alt</mat-icon
      >
      <mat-card-title>{{ titleMessage }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ cardContent }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="primary" (click)="cardButtonClicked.emit()">
        {{ buttonText }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
